{% extends "index/base.html" %}

{% block title %}Заявки на оборудование{% endblock %}

{% block document-buttons %}
    
    <a class = "AddDocument" href="#" title="Создать новый документ"><span class="create-new-document"></span></a>

    <div id="table-pagination" class="step-links"></div>

    <div class="table-options">

        <div class="table-length_main">

            <select id="table_os_length" name="table_os_length">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50" selected>50</option>
                <option value="100">100</option>
            </select>

        </div>

    </div>

{% endblock %}

{% block content %}
    <div class="contentpanel">

        <div class="table-container">

            <table id="table_applications" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Номер заявки</th>
                        <th>Необходимое оборудование</th>
                        <th>Автор заявки</th>
                        <th>Для кого оборудование</th>
                        <th>Дата поступления</th>
                        <th>Дата выхода</th>
                        <th>Подоазделение</th>
                        <th>Статус</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
{% endblock %}