{% extends "index/base.html" %}

{% block title %}Материалы{% endblock %}

{% block document-buttons %}
    
    <a class = "AddDocument" href="/myapp/addosmove/" title="Создать новый документ"><span class="create-new-document"></span></a>

    <span class="step-links">

        {% if page_obj.has_previous %}
            <a href="?page=1" title="В налачо">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}" title="Предыдущая страница">&lt;</a>
        {% endif %}

        <span class="current-page">
            {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" title="Следующая страница">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" title="В конец">&raquo;</a>
        {% endif %}
        
        <form action="" method="get" class="page-number-form">
            <input type="text" name="page" class="page-number-input">
            <button type="submit" title = "Перейти к странице"class="go-to-page-button">Перейти</button>
        </form>

    </span>

{% endblock %}


{% block content %}
<div class="contentpanel">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>TMC Name</th>
                    <th>Article</th>
                    <th>Web Code</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for os in page_obj %}
                    <tr>
                        <td class="name-column">{{ os.tmc_name }}</td>
                        <td>{{ os.tmc_article }}</td>
                        <td>{{ os.web_code }}</td>
                        <td>{{ os.tmc_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
