{% extends "index/base.html" %}

{% block title %}Материалы{% endblock %}

{% block document-buttons %}


    
    <div id="table-pagination" class="step-links"></div>
    
    <div class="table-options">
    
        <div class="table-length_main">
    
            <select id="table_os_length" name="table_os_length">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50" selected>50</option>
                <option value="100">100</option>
            </select>
    
        </div>
    
    </div>

{% endblock %}


{% block content %}
<div class="contentpanel">
    <div class="table-container">
        <table id="table_tmc" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Артикул</th>
                    <th>Web Code</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
