{% extends 'index/base.html' %}

{% load static %}


{% block document-buttons %}
  <h2 class="form-title">Акт технического состояния средств вычислительной и оргтехники</h2>
{% endblock %}

{% block content %}
  <div class="form-container">

    {{ form.media }}
    <script>
        $(document).ready(function() {
            $('#inv_dit').select2();
        });
    </script>
    
    <form method="post" class="form-area act">

        {% csrf_token %}
      
      <div>
        <label>Пользователь:</label>
        {{ form.user }}
      </div>

      <div>
        <label>Местонахождение:</label>
        {{ form.sklad }}
      </div>

      <div>
        <label>Оборудование:</label>
        {{ form.inv_dit }}
      </div>

      <div>
        <label>Результат проверки:</label>
        {{ form.result }}
      </div>

      <div>
        <label>Заключение:</label>
        {{ form.conclusion }}
      </div>

      <div>
        <label>Действие:</label>
        {{ form.type }}
      </div>      

      <div>
        <label>Автор:</label>
        {{ form.avtor }}
      </div>

      <div>
        <button type="submit">Добавить</button>
      </div>

    </form>

    <div class="prev-acts">

      <h3 class="prev-acts title">Предыдущие акты:</h3>

      <div class="prev-acts-list">
        <ul id="acts-list">
          {% for act in acts %}
          <li>  
            <div class="act-date">{{ act.act_date }}</div>
            <div class="act-avtor">{{ act.avtor }}</div>
            <div class="act-result">{{ act.result }}</div>
            <div class="act-conclusion">{{ act.conclusion }}</div>
            <div class="act-type">{{ act.type }}</div>
          </li>
          {% endfor %}
        </ul>
      <div>

    </div>
    
  </div>

{% endblock %}
