{% extends "index/base.html" %}

{% block title %}Добавить ОС{% endblock %}

{% block document-name %}<h2 class="form-title">Добавить ОС</h2>{% endblock %}

{% block document-buttons %}

{% endblock %}

{% block content %}

    <div class="form-container">

        <a type="hidden">{{ form.media }}</a>

        <form method="post" class="form-area act">

            {% csrf_token %}
          
          <div >
            <label>Дата:</label>
            {{ form.inpute_date }}
          </div>

          <div>
            <label>Пользователь:</label>
            {{ form.user }}
          </div>
    
          <div>
            <label>Подразделение:</label>
            {{ form.department }}
          </div>

          <div>
            <label>Инвентарный номер:</label>
            {{ form.int_inv_dit }}
          </div>
    
          <div>
            <label>Группа ОС:</label>
            {{ form.os_group }}
          </div>

    
          <div id="model-fields" class="os-field" style="display:none">
            <label>Модель:</label>
            {{ form.model }}
          </div>
          
          <div id="processor-fields" class="os-field" style="display:none">
              <label>Процессор:</label>
              {{ form.first_part }}
          </div>
          
          <div id="ram-fields" class="os-field" style="display:none">
              <label>ОЗУ:</label>
              {{ form.second_part }}
          </div>
          
          <div id="storage-fields" class="os-field" style="display:none">
              <label>Накопитель:</label>
              {{ form.third_part }}
          </div>
    
          <div class="form-field button">
            <button type="submit">Добавить</button>
          </div>
    
        </form>

        <div class="prev-acts">
    
          <div class="alert alert-danger">

            <strong>Ошибки в форме:</strong>

              <ul>
                  {% for field, error_list in form.errors.items %}
                      {% for error in error_list %}
                          <li>{{ field }}: {{ error }}</li>
                      {% endfor %}
                  {% endfor %}
              </ul>

          </div>

        </div>

  <div>

{% endblock %}
