{% extends 'index/base.html' %}

{% load static %}


{% block document-name %}<h2 class="form-title">Создать перемещение</h2>{% endblock %}

{% block document-buttons %}

  <div class="toggle_switch">
    <input type="checkbox" id="toggle" class="toggle_input">
    <label for="toggle" class="toggle_label">
      <span class="toggle_text">ОС</span>
      <span class="toggle_text">ТМЦ</span>
    </label>
  </div>

{% endblock %}

{% block content %}

  <div class="form-container" id="osForm">

  <form method="post" action="{% url 'add_move' %}" class="form-area act">

      {% csrf_token %}

      <input type="hidden" name="toggle_switch" value="os">

      <div>
        <label>Номер перемещения:</label>
        {{ form_os.move_num }}
      </div>

      <div>
        <label>Статус:</label>
        {{ form_os.status }}
      </div>

      <div>
        <label>Оборудование:</label>
        {{ form_os.equipment_os }}
      </div>

      <div>
        <label>МОЛ:</label>
        {{ form_os.user }}
      </div>

      <div>
        <label>Подразделение:</label>
        {{ form_os.sklad }}
      </div>

      <div>
        <label>Комментарий:</label>
        {{ form_os.comment }}
      </div>      

      <div>
        <label>Автор:</label>
        {{ form_os.avtor }}
      </div>

      <div class="form-field button">
        <button type="submit">Добавить</button>
      </div>

  </form>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  </div>



  <div class="form-container" id="tmcForm" style='display: flex'>

  <form method="post" action="{% url 'add_move' %}" class="form-area act" >

      {% csrf_token %}

      <input type="hidden" name="toggle_switch" value="tmc">

      <div>
        <label>Номер перемещения:</label>
        {{ form_tmc.move_num }}
      </div>

      <div>
        <label>Статус:</label>
        {{ form_tmc.status }}
      </div>

      <div>
        <label>Оборудование:</label>
        {{ form_tmc.equipment_tmc }}
      </div>

      <div>
        <label>Количество:</label>
        {{ form_tmc.qty }}
      </div>

      <div>
        <label>МОЛ:</label>
        {{ form_tmc.user }}
      </div>

      <div>
        <label>Подразделение:</label>
        {{ form_tmc.sklad }}
      </div>

      <div>
        <label>Комментарий:</label>
        {{ form_tmc.comment }}
      </div>      

      <div>
        <label>Автор:</label>
        {{ form_tmc.avtor }}
      </div>

      <div class="form-field button">
        <button type="submit">Добавить</button>
      </div>

  </form>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

</div>

{% endblock %}
