{% extends 'index/base.html' %}

{% load static %}

{% block title %}Создать перемещение ТМЦ{% endblock %}

{% block document-name %}<h2 class="form-title">Создать перемещение ТМЦ</h2>{% endblock %}

{% block document-buttons %}

<a class = "AddDocument" href="{% url 'add_move_os' %}" title="Создать новый документ"><span class="create-new-document os"></span></a>

  {% comment %} <div class="toggle_switch">
    <input type="checkbox" id="toggle" class="toggle_input">
    <label for="toggle" class="toggle_label">
      <span class="toggle_text">ОС</span>
      <span class="toggle_text">ТМЦ</span>
    </label>
  </div> {% endcomment %}

{% endblock %}

{% block content %}

  <div class="form-container" id="tmcForm">

    <a type="hidden">{{ form.media }}</a>

    <form method="post" action="{% url 'add_move_tmc' %}" class="form-area act">
      {% csrf_token %}
      <input type="hidden" name="toggle_switch" value="tmc">
  
      <div>
        <label>Номер перемещения:</label>
        {{ form.move_num }}
      </div>

      <div>
        <label>Статус:</label>
        {{ form.status }}
      </div>

      <div>
        <label>Оборудование:</label>
        {{ form.equipment }}
      </div>
  
      <div>
        <label>Количество:</label>
        {{ form.qty }}
      </div>

      <div>
        <label>МОЛ:</label>
        {{ form.user }}
      </div>

      <div>
        <label>Подразделение:</label>
        {{ form.sklad }}
      </div>

      <div>
        <label>Комментарий:</label>
        {{ form.comment }}
      </div>      

      <div>
        <label>Автор:</label>
        {{ form.avtor }}
      </div>

      <div class="form-field button">
        <button type="submit">Добавить</button>
      </div>

  </form>

</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</div>

{% endblock %}