{% extends 'index/base.html' %}

{% load static %}



{% block document-buttons %}
  <h2 class="form-title">Перемещение</h2>
{% endblock %}

{% block content %}

  <input type="hidden" class="js-url-field" data-url="{% url 'get_equipment_data' %}">
  
  <div class="form-container">

    <form method="post" class="form-area act">

      {% csrf_token %}
    
    <div class="form-field string">
      <label for="id_user">Номер перемещения:</label>
      {{ form.move_num }}
    </div>

    <div class="form-field select">
      <label for="id_user">Оборудование:</label>
      {{ form.equipment }}
    </div>

    <div class="form-field select os">
      <label for="id_user">МОЛ:</label>
      {{ form.user }}
    </div>

    <div class="form-field text">
      <label for="id_user">Подразделение:</label>
      {{ form.sklad }}
    </div>

    <div class="form-field text">
      <label for="id_user">Статус:</label>
      {{ form.status }}
    </div>

    <div class="form-field select">
      <label for="id_user">Комментарий:</label>
      {{ form.comment }}
    </div>      

    <div class="form-field select">
      <label for="id_user">Автор:</label>
      {{ form.avtor }}
    </div>

    <div class="form-field button">
      <button type="submit">Добавить</button>
    </div>

  </form>

</div>
{% endblock %}
