{% extends "index/base.html" %}

{% block title %}Создать документ комплектации{% endblock %}

{% block document-buttons %}

{% endblock %}

{% block content %}

    <div class="form-container">

        <form method="post" action="{% url 'add_complectations' %}" class="form-area act">

            {% csrf_token %}
            
            <div class="form-field select os">
                <label>Оборудование:</label>
                {{ form.inv_dit }}
            </div>

            <div class="form-field select os">
                <label>Новое наименование:</label>
                {{ form.new_name_os }}
            </div>            

            <div class="form-field select">
                <label>ТМЦ:</label>
                {{ form.tmc }}
            </div>

            <div class="form-field integer">
                <label>Кол-во:</label>
                {{ form.tmc_qty }}
            </div>      

            <div class="form-field select">
                <label for="id_par_doc">Документ основание:</label>
                {{ form.par_doc }}
            </div>

            <div class="form-field select">
                <label>Документ основание:</label>
                {{ form.avtor }}
            </div>

            <div class="form-field button">
                <button type="submit">Добавить</button>
            </div>

        </form>
    </div>

{% endblock %}
