<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заголовок страницы{% endblock %}</title> <!--------Имя на вкладке-------->

    {% load static %}

    <!--------Стили -------->
    <link rel="icon" href="{% static 'icons/base.jpg' %}" type="image/base">
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">

    <!--------Библиотеки скриптов -------->
    <script src="{% static 'JS/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'JS/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/jquery.dataTables.min.css' %}">
    <script src="{% static 'JS/jquery.dataTables.min.js' %}"></script>
    {% comment %} <script src="{% static 'JS/moment.min.js' %}"></script> {% endcomment %}

    <!--------Скрипты -------->
    <script src="{% static 'JS/datatablesV1.js' %}?v=1.1"></script>
    <script src="{% static 'JS/sidepanel.js' %}"></script>
    {% comment %} <script src="{% static 'JS/search_form.js' %}"></script> {% endcomment %}
    <script src="{% static 'JS/applications_scripts.js' %}"></script>
    <script src="{% static 'JS/acts_scriptsV1.js' %}?v=1.1"></script>
    <script src="{% static 'JS/load_from_file.js' %}"></script>
    <script src="{% static 'JS/forms_fields.js' %}"></script>
    

</head>

<body>

    <!--------Header Start-------->
        <div class="topbar">

            <div class="topbar-left">

                <!--------Кнопка скрытия боковой панели-------->
                <a id="toggle-sidebar-btn" class="sidebar-btn toggle" title="Скрыть панеь"></a>

                <!--------Панель поиска-------->
                <div class="search-container">
                    <form class="search-form" action="{% comment %}{% url 'search_results' %}{% endcomment %}#" method="GET"> 
                        <input type="text" id="customSearchBox" placeholder="Поиск..." >
                        <button type="submit" title="Искать">Найти</button>
                    </form>
                </div>
                

            </div>

            <div class="topbar-mid">
                {% block document-name %}{% endblock %}
            </div>

            <div class="topbar-right">

                <!--------Панель переключчения страниц-------->
                <div class="document-btns">

                    {% block document-buttons %}{% endblock %} 

                </div>


            </div>

        </div>
    <!--------Header END-------->

    <!--------Sidebar Start-------->

        
        <div class="sidebar">

            <!--------Список ссылок-------->
            <ul>
                
                <li{% if request.path == "/" %} class="active"{% endif %}><a title="Главная" href="/"><span class="sidebar-icon home"></span>Главная</a></li>
                {% if user.groups.all.0.name == "Склад" %}
                <li{% if request.path == "/directories/os/" %} class="active"{% endif %}><a title="Основные средства" href="/directories/os/"><span class="sidebar-icon os"></span>Основные средства</a></li>

                <li{% if request.path == "/directories/tmc/" %} class="active"{% endif %}><a title="Материалы" href="/directories/tmc/"><span class="sidebar-icon tmc"></span>Материалы</a></li>

                <li{% if request.path == "/moves/" %} class="active"{% endif %}><a title="Перемещения" href="/moves/"><span class="sidebar-icon osmove"></span>Перемещения</a></li>
                {% endif %}
                <li{% if request.path == "/acts/" %} class="active"{% endif %}><a title="Акты" href="/acts/"><span class="sidebar-icon ActTS" title="Акты ТС"></span>Акты ТС</a></li>

                <li {% if request.path == "/applications/" %} class="active"{% endif %}><a href="/applications/"><span class="sidebar-icon appl" title="Заявки"></span>Заявки</a></li>
                {% if user.groups.all.0.name == "Склад" %}
                <li{% if request.path == "/loadsql/" %} class="active"{% endif %}><a href="/loadsql/"><span class="sidebar-icon spisanie" title="Загрузка Excel"></span>Загрузка Excel</a></li>

                <li {% if request.path == "/complectations/" %} class="active"{% endif %}><a href="/complectations/"><span class="sidebar-icon complectations" title="Комплектации"></span>Комплектации</a></li>
                <li {% if request.path == "/admin/" %} class="active"{% endif %}><a href="/admin/"><span class="sidebar-icon admin-icon" title="Админская панель"></span>Admin panel</a></li>
                {% endif %}
                {% comment %} <li><a href="!!ССЫЛКА!!"><span class="sidebar-icon users" title="Пользователи"></span>Пользователи</a></li> {% endcomment %}

                {% comment %} <li><a href="!!ССЫЛКА!!"><span class="sidebar-icon locations" title="Локации"></span>Локации</a></li> {% endcomment %}

            </ul>
            
            <!--------Панель пользователя-------->
            <ul>
                    
                <li class="btn_logout" >

                     <a title="Выйти" href="{% url 'logout'%}?next={{request.path}}#"> 

                        <span class="sidebar-icon btn-logout"></span>

                        {% if user.is_authenticated %}
                        {{ user.last_name }} {{ user.first_name }} 
                        {% endif %}

                    </a>

                </li>

            </ul>

        </div>

    <!--------Sidebar End-------->

    <!--------Contentpanel Start-------->

        <!--------Основная панель-------->
        <div class="contentpanel">

            <!--------Кнопка жесткой перезагрузки-------->
            <div class="hard-reload">
                <button type="reload" class="hard-reload-button">
            </div>

            {% block content %}
            {% endblock %}
        </div> 
    <!--------Contentpanel End-------->

</body>



</html>

