{% extends "index/base.html" %}

{% block title %}Домашняя страница{% endblock %}

{% block document-buttons %}
    {% comment %} <a class = "AddDocument" href="{% url 'add_complectations' %}" title="Создать новый документ"><span class="create-new-document"></span></a> {% endcomment %}
    
    <div id="table-pagination" class="step-links"></div>

    <div class="table-options">

        <div class="table-length_main">

            <select id="table_os_length" name="table_os_length">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50" selected>50</option>
                <option value="100">100</option>
            </select>

        </div>

    </div>

{% endblock %}


{% block content %}

    {% load static %}

    <div class="contentpanel">

        <div class="table-container">

            <div class="screen-saver"> 
                
                {% comment %} <img class="screen-saver-img" src = "{% static 'icons/pepe.png' %}">  {% endcomment %}
                <img class="screen-saver-img" src = "{% static 'icons/pepeNG.png' %}"> 

            </div>

        </div>

    </div>
{% endblock %}
